body{
    /* background-color:cornsilk; */
    background-color:silver;
}
div{
    text-align:center; 
    color: black;
}
#nav1{
    padding-top: 1.5%;
    background-color:grey;
    text-align: center;
}   
.navbar-brand{
    color:black;
    font-size:x-large;
    margin-left:1.5%;
} 
.nav-item{
    color:black;
    margin-left:1.5%;
} 
#nav2{
   background: transparent;
   text-align: center;
   margin-left:5.5%;
   margin-right:5.5%;
}
table {
    /* border-spacing: 0; */
    text-align: center;
    /* border-collapse: collapse; */
    height: 100%;
    width:100%;
  } 